{% extends 'base.html.twig' %}

{% block title %}Mes commandes! | {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="titre-profil">Historique de mes commandes</h2>

    <h4>Mes commandes</h4>
    <h4>Mes factures</h4>






{% endblock %}
{% block javascripts %}
<script>
    var toto = document.getElementById("toto")
    console.log(toto)
</script>
{% endblock %}