{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="connexion-form">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="connexion-titre">
        <h2>Mot de passe oublié</h2>
    </div>
    <div class="connexion-form-inputs">
        {{ form_start(requestForm) }}
            <div class="connexion">
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        Entrer votre email et nous vous enverrons un liens pour modifier votre mot de passe
                    </small><br>
                </div>

                <br>
                <button class="btn btn-primary">Send password reset email</button>
            </div>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
